<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>perl pakkets build status</title>
  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      padding: 0 25px 25px 25px;
    }
    table {
      border-collapse: collapse;
      font-size: 0.85em;
    }
    table, th, td {
      border: 1px solid black;
    }
    td {
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
    tbody td {
      background: #6f6;
      word-wrap: break-word;
      width: 150px;
      padding: 5px;
    }
    .name {
      background: transparent;
      text-align: left;
      padding-left: 25px;
      width: 300px;
      font-weight: normal;
    }
    .missing {
      background: #ff6;
    }
    .hidden {
      visibility: hidden;
    }
  </style>
</head>
<body>
  <h2 class="hidden">perl pakket build status</h2>
  <table>
    <thead id="thead">
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $.ajax('/all_packages').done(function(data) {
      const parsedData = JSON.parse(data);
      // taking pakket #1 and getting columns metadata from it
      const keys = Object.keys(parsedData[0][1]);
      const desiredOrder = ['spec', 'source', '5.24.0', '5.24.3', '5.26.2'];
      let finalOrder = desiredOrder;
      let OSmetadata;
      keys.forEach((key) => {
        if (desiredOrder.indexOf(key) === -1) {
          finalOrder.push(key);
        }
        // getting OS metadata from first perl version prop
        if (strIsPerlVersion(key)){
          OSmetadata = Object.keys(parsedData[0][1][key]);
        }
      });

      let tableHead = '<tr>';
      tableHead += '<td class="name" rowspan="2">module name</td>';
      desiredOrder.forEach((column) => {
        // calculating colspan and rowspan
        let colspan = 1;
        let rowspan = 1;
        if (strIsPerlVersion(column)){
          colspan = 2;
        } else {
          rowspan = 2;
        }
        tableHead += `<td colspan="${colspan}" rowspan="${rowspan}">${column}</td>`;
      });
      tableHead += '</tr><tr>';
      // TODO: add one more table row with metadata
      desiredOrder.forEach((column) => {
        if (!strIsPerlVersion(column)) return;
        OSmetadata.forEach((os) => {
          tableHead += `<td>${os}</td>`;
        });
      });
      tableHead += '</tr>';
      // showing page title
      $('.hidden').removeClass('hidden');
      $('#thead').append(tableHead);

      // calculating and rendering body
      let tableBody = '';
      parsedData.forEach((pakket) => {
        tableBody += `<tr><td class="name">${pakket[0]}</td>`;
        desiredOrder.forEach((column) => {
          if (strIsPerlVersion(column)){
            OSmetadata.forEach((os) => {
              tableBody += `${pakket[1][column][os] ? '<td>+</td>' : '<td class="missing">-</td>'}`;
            });
          } else {
            tableBody += `${pakket[1][column] ? '<td>+</td>' : '<td class="missing">-</td>'}`;
          }
        });
      });
      $('#tbody').append(`${tableBody}`);
    });

    function strIsPerlVersion(str) {
      return !isNaN(parseInt(str, 10));
    }
  </script>
</body>
</html>
